@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my todo app</h1>
    <p>This is an application that allows you to manage you to do list</p>
</div>
